.button-keyboard{
    background-color: #ffe4c4;
    width: 65px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.button-keyboard-two-spaces{
    background-color: #ffe4c4;
    width: 130px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.button-keyboard-three-spaces{
    background-color: #ffe4c4;
    width: 190px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.button-keyboard-eight-spaces{
    background-color: #ffe4c4;
    width: 550px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.div-text-area{
    
}

.text-area{
    width: 40%;
    height: 90px;
}

/* Botões shift ativo */

.button-left-shift-active{
    background-color: #f89419;
    width: 130px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.button-right-shift-active{
    background-color: #f89419;
    width: 190px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Botão CAPS ativo */
.button-caps-active{
    background-color:  #f89419;
    width: 130px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* Botão Alt ativo */
.button-keyboard-active{
    background-color:  #f89419;
    width: 65px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}